*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--darknavy);
  transition-property: color, background-color, background-image, left, translate;
  transition-duration: 0.15s;
  transition-timing-function: ease-out;
}

@font-face {
  font-family: "Rubik-light";
  src: url("./assets/fonts/static/Rubik-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/static/Rubik-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Rubik-medium";
  src: url("./assets/fonts/static/Rubik-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Rubik-italic";
  src: url("./assets/fonts/static/Rubik-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}

:root {
  --display: clamp(80px, 6vw, 144px);
  --heading--l--bold: 64px;
  --heading--l--regular: clamp(40px, 5vw, 64px);
  --heading--m: clamp(30px, 4.5, 36px);
  --heading--s: clamp(20px, 4vw, 28px);
  --heading--button: clamp(17px, 3.5vw, 20px);
  --body--m: 24px;
  --body--s: 20px;

  --ff-reg: "Rubik";
  --ff-med: "Rubik-medium";
  --ff-it: "Rubik-italic";
  --ff-light: "Rubik-light";

  --purple: #a729f5;
  --purewhite: #ffffff;
  --darknavy: #313e51;
  --greynavy: #626c7f;
  --lightgrey: #f4f6fa;
  --navy: #3b4d66;
  --lightbluish: #abc1e1;
  --green: #26d782;
  --red: #ee5454;
}

ul {
  list-style-type: none;
}

button {
  background: unset;
  border: none;
  cursor: pointer;
}

html,
body {
  width: 100%;
  height: 100%;
  min-height: max-content;
}

body {
  display: grid;
  grid-template-rows: 20% auto;
  place-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: var(--ff-reg);
  background-image: var(--bg-img-l);
  padding-block: calc(5svh + 50px);
}

/* --------------------- HEADER -------------------------- */

header {
  display: flex;
  justify-content: space-between;
  align-self: start;
  align-items: center;
  width: clamp(700px, 80%, 1200px);
}

#quiz_spec {
  display: flex;
  align-items: center;
  gap: 1.5em;
}

#quiz_spec > div,
.final_case > div > div {
  display: grid;
  place-items: center;
  border-radius: 0.5em;
  width: 56px;
  aspect-ratio: 1 / 1;
  &.html {
    background-color: #fff1e9;
  }
  &.css {
    background-color: #e0fdef;
  }
  &.javascript {
    background-color: #ebf0ff;
  }
  &.accessibility {
    background-color: #f6e7ff;
  }
}
#theme_switcher {
  display: grid;
  grid-template-columns: auto 48px auto;
  grid-template-rows: 24px;
  gap: 1em;
}

#theme_switcher button {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--purple);
  border-radius: 50px;
  padding: 0.25em;
}
#theme_switcher button span {
  --padding: 4px;
  position: absolute;
  top: var(--padding);
  left: var(--padding);
  display: block;
  background-color: white;
  height: calc(100% - var(--padding) * 2);
  border-radius: 50%;
  aspect-ratio: 1 / 1;
}
#theme_switcher > span {
  width: 1.5em;
  aspect-ratio: 1 / 1;
  background-position: center;
  background-size: contain;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5em;
  height: 100%;
  width: clamp(700px, 80%, 1200px);
}

main.quiz h3 {
  font-size: var(--heading--m);
}

main.result > div.questions {
  grid-template-rows: auto;
  height: fit-content;
}
main.result > div.questions > h1 {
  height: fit-content;
}
main > div {
  width: 100%;
  display: grid;
  gap: 3em;
}
main > div.questions {
  grid-template-rows: auto 1fr auto;
  height: clamp(200px, 60%, 80%);
}

.progress_bar {
  position: relative;
  width: 100%;
  height: 1em;
  background-color: var(--navy);
  border-radius: 20px;
  padding: 4px;
}

.progress_bar > span {
  display: block;
  border-radius: 20px;
  height: 100%;
  background-color: var(--purple);
}

main > aside {
  width: 100%;
}
aside.answere {
  display: grid;
  gap: 1.5em;
}
aside.answere ul {
  display: grid;
  gap: 1.5em;
  width: 100%;
}
aside.answere ul li {
  position: relative;
  width: 100%;
  height: 80px;
  border-radius: 18px;
  background-color: var(--purewhite);
  box-shadow: 0 16px 40px 0 #8fa0c124;
  font-weight: bold;
  transition: all ease-out 0.2s;
  outline: 2px solid transparent;
}

body main > aside.answere ul li button:hover > span,
body main > aside.answere ul li button:focus-visible > span,
body main > aside.answere ul li:has(button.selected) > button > span {
  color: var(--purple);
  background-color: #f6e7ff;
}
aside.answere ul li button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding: 20px;
  width: 100%;
  height: 100%;
  font-size: var(--heading--m);
}
aside.answere ul li button span {
  display: grid;
  place-items: center;
  font-size: larger;
  background-color: var(--lightgrey);
  border-radius: 0.5em;
  height: 100%;
  aspect-ratio: 1 / 1;
}
aside.answere ul li button p {
  max-width: 65%;
  text-align: start;
}
aside.answere ul li:has(button.selected) {
  outline: 2px solid var(--purple);
}
body > main aside.answere ul li:has(button.valid) span {
  color: white;
  background-color: var(--green);
}
aside.answere ul li:has(button.valid) {
  outline: 2px solid var(--green);
}
aside.answere ul li:has(button.valid)::after,
aside.answere ul li:has(button.answere_valid)::after {
  position: absolute;
  content: "";
  right: 20px;
  top: 50%;
  translate: 0 -50%;
  background-position: center;
  background-size: contain;
  background: url(./assets/images/icon-correct.svg);
  width: 40px;
  height: 40px;
}

aside.answere ul li:has(button.invalid)::after {
  position: absolute;
  content: "";
  right: 20px;
  top: 50%;
  translate: 0 -50%;
  background-position: center;
  background-size: contain;
  background: url(./assets/images/icon-incorrect.svg);
  width: 40px;
  height: 40px;
}

.error_message {
  position: relative;
  padding-inline: 30px;
  justify-self: center;
}
.error_message::before {
  position: absolute;
  left: 0;
  top: 50%;
  translate: 0 -50%;
  content: "";
  height: 25px;
  width: 25px;
  background-image: url(./assets/images/icon-error.svg);
  background-size: contain;
  background-position: center;
}

body > main aside.answere ul li:has(button.invalid) span {
  color: white;
  background-color: var(--red);
}
aside.answere ul li:has(button.invalid) {
  outline: 2px solid var(--red);
}

#submit_button {
  position: relative;
  width: 100%;
  height: 80px;
  background-color: var(--purple);
  color: white;
  font-size: var(--heading--button);
  border-radius: 18px;
}

#submit_button::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all ease-out 0.1s;
  opacity: 0;
  border-radius: 18px;
}

#submit_button:focus-visible::after,
#submit_button:hover::after {
  opacity: 1;
}
main h1 {
  font-family: var(--ff-light);
  font-weight: 300;
  font-size: var(--heading--l--regular);
  text-wrap: nowrap;
}

#quiz_selection {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#quiz_selection button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: var(--heading--s);
  padding: 20px;
  border-radius: 18px;
  gap: 2em;
}

#quiz_selection button div {
  display: grid;
  place-items: center;
  width: 56px;
  aspect-ratio: 1 / 1;
  border-radius: 0.5em;
}
#quiz_selection button#html div {
  background-color: #fff1e9;
}
#quiz_selection button#css div {
  background-color: #e0fdef;
}

#quiz_selection button#js div {
  background-color: #ebf0ff;
}

#quiz_selection button#accessibility div {
  background-color: #f6e7ff;
}

#quiz_selection > li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 18px;
  background-color: var(--purewhite);
}

#quiz_selection li button span {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: small;
}

aside:has(.final_case) {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 50%;
}
.final_case {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  gap: 2em;
  border-radius: 1.5em;
  padding: 5em 3em;
}

.final_case > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--heading--s);
  gap: 24px;
}

.final_case > span {
  font-size: var(--display);
}
aside:has(.final_case) button {
  position: relative;
  width: 100%;
  height: 92px;
  background-color: var(--purple);
  color: white;
  font-size: var(--heading--s);
  border-radius: 18px;
}

/* --------------------THEME PREFERENCE-------------------------*/
body[data-theme="dark"] {
  --purewhite: #313e51;
  --darknavy: #ffffff;
  --bg-img-s: url("./assets/images/pattern-background-mobile-dark.svg");
  --bg-img-m: url("./assets/images/pattern-background-tablet-dark.svg");
  --bg-img-l: url("./assets/images/pattern-background-desktop-dark.svg");
  background-color: var(--purewhite);

  #quiz_selection > li {
    background-color: var(--navy);
    box-shadow: 0 16px 40px 0 rgba(49, 62, 81, 0.14);
  }
  #theme_switcher button span {
    left: 100%;
    translate: calc(-100% - 4px);
  }
  .final_case > p {
    color: var(--lightbluish);
  }
  aside.answere ul li button span {
    color: var(--greynavy);
    font-weight: bold;
  }
  .final_case {
    background-color: var(--navy);
  }
  #theme_switcher > span:first-child {
    background-image: url(./assets/images/icon-sun-light.svg);
  }
  #theme_switcher > span:last-child {
    background-image: url(./assets/images/icon-moon-light.svg);
  }
}

body[data-theme="light"] {
  --bg-img-s: url("./assets/images/pattern-background-mobile-light.svg");
  --bg-img-m: url("./assets/images/pattern-background-tablet-light.svg");
  --bg-img-l: url("./assets/images/pattern-background-desktop-light.svg");
  background-color: var(--lightgrey);

  .progress_bar {
    background-color: var(--purewhite);
  }
  .final_case {
    background-color: var(--purewhite);
  }

  .final_case > p {
    color: var(--greynavy);
  }

  #quiz_selection > li {
    box-shadow: 0 16px 40px 0 rgba(143, 160, 193, 0.14);
  }

  #theme_switcher > span:first-child {
    background-image: url(./assets/images/icon-sun-dark.svg);
  }
  #theme_switcher > span:last-child {
    background-image: url(./assets/images/icon-moon-dark.svg);
  }
}
/* --------------BREAKPOINTS----------------------------- */

@media screen and (max-width: 1000px) {
  body {
    grid-template-rows: 10% 1fr;
    gap: 2em;
    background-image: var(--bg-img-m);
  }
  main,
  header {
    width: clamp(0px, 80%, 1200px);
  }
  main {
    flex-direction: column;
    justify-content: flex-start;
    gap: 5svh;
  }

  main > div {
    gap: 1em;
  }
  aside.answere ul li {
    height: 80px;
  }
}

@media screen and (max-height: 750px) {
  body {
    background-image: var(--bg-img-s);
    padding-block-end: 20px;
  }
  #quiz_selection > li {
    height: 75px;
  }

  #quiz_selection button div {
    width: 40px;
    padding: 5px;
  }
  #quiz_selection button div img {
    width: 100%;
  }
}
